
<h2>This is the HOME page</h2><br>

<h3>About</h3><br>
<h3>Experience</h3><br>

<div id='skills'>
	<h3>Skills</h3>
	<ul class='category'>Languages</ul>
	<ul class='category'>Frameworks</ul>
	<ul class='category'>Libraries</ul>
</div>

<h3>Education</h3><br>
<h3>Achievments</h3><br>
<h3>- Link to Projects -</h3><br>