

.category {
	border: 2px solid black;
	display: inline-block;
	height: 800px;
	width: 33.06%;
	/*padding: 3px;*/
	/*margin: 1em;*/
	float: left;
}

.cat-title {
	font-size: 10vh;
	/*border: 1px solid red;*/
	text-align: center;
	width: 12%;
	line-height: 8vh;
}

.image { opacity: 0; transition: opacity 0.3s; }

.image-loaded { opacity: 1; }