
/*#category-wrapper {

}*/

#proj-image {
	background-image: url('./cat_project_bw.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

#proj-no-image {
	display: none;
}


/*NOT IN USE*/
.image { opacity: 0; transition: opacity 0.3s; }

.image-loaded { opacity: 1; }