
#cat-wrapper {

}

/*.category {
	position: relative;
	border: 1px solid black;
	display: table-cell;
	height: 800px;
	width: calc(33.33% - 2px);
	float: left;
}*/

.cat-title {
	font-size: 10vh;
	text-align: center;
	width: 12%;
	line-height: 8vh;
}

#proj-image {
	background-image: url('./cat_project_bw.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

#proj-no-image {
	display: none;
}




/*NOT IN USE*/
.image { opacity: 0; transition: opacity 0.3s; }

.image-loaded { opacity: 1; }