
#cat-wrapper {

}

.category {
	position: relative;
	border: 1px solid black;
	display: table-cell;
	height: 800px;
	width: calc(33.33% - 2px);
	/*padding: 3px;*/
	/*margin: 1em;*/
	float: left;
}

.cat-title {
	font-size: 10vh;
	text-align: center;
	width: 12%;
	line-height: 8vh;
}

#proj-image {
	background-image: url('./cat-project.jpg')
}

.image { opacity: 0; transition: opacity 0.3s; }

.image-loaded { opacity: 1; }