@font-face {
  font-family: 'Nord Medium';
  src: url("/assets/NordMedium.ttf") format("truetype");
}

$font-stack: Nord Medium;
$color-cream: #FDF3E7;
$color-fire: #C63D0F;
$color-charcoal: #3B3738;
$color-olive: #7E8F7C;

.main {
	background-color: $color-cream;
}
.header {
	position: relative;
	width: 100%;
	height: 250px;
	max-height: 250px;
	overflow: hidden;
	z-index: 99;
}
.header-img {
	position: absolute;
	width: 100%;
	max-width: 100%;
	min-width: 1440px;
	min-height: 250px;
	z-index: -99;
	vertical-align: middle;
	overflow: hidden;
	top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.overlay {
	height: 250px;
  background: rgba(90, 80, 80, 0.65)  /*70, 72, 82, 0.3*/
}
.name-text {
	font: 600% $font-stack;
	font-weight: 700;
	color: $color-charcoal;
	letter-spacing: 8px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
}
.title-text {
	font: 300% $font-stack;
	color: $color-charcoal;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
/*.nav-box {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 8px;
	border-radius: 5px;
	background: rgba(70, 72, 82, 0.8)
}*/
.nav-links a:link, 
.nav-links a:hover, 
.nav-links a:active, 
.nav-links a:visited {
	color: $color-cream;
	text-decoration: none;
	list-style: none;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px; 
}
.nav-links {
	list-style: none;
	font-size: 30px;
	margin-top: 30px;
	padding-bottom: 10px;
}
.spacer {
	height: 250px;
}
.footer {
	background: $color-charcoal;
	height: 60px;
}
.footer-content {
	text-align: center;
	padding: 20px;
	color: $color-cream;
}
