@font-face {
  font-family: 'Nord Medium';
  src: url("/assets/NordMedium.ttf") format("truetype");
}

$font-stack: Nord Medium;
$color-cream: #FDF3E7;
$color-fire: #C63D0F;
$color-charcoal: #3B3738;
$color-olive: #7E8F7C;

.main {
	border: 1px solid black;
	background-color: $color-cream;
}
.header {
	background-color: $color-fire;
	padding: 10px;
/*	position: fixed;*/
	width: 100%;
	z-index: 99;
}
.name-text {
	font: 600% $font-stack;
	color: $color-charcoal;
	letter-spacing: 3px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
}
.title-text {
	font: 300% $font-stack;
	color: $color-charcoal;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.nav-links {
	margin-bottom: 0px;
}
.nav-tab {
	list-style: none;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}
