
#skills {
	border: 2px solid red;
	padding-left: 1em;
	padding-top: 1em;
}

.category {
	border: 2px solid black;
	display: inline-block;
	height: 200px;
	width: 30%;
	padding: 3px;
	margin: 1em;
}

#lang {
	float: left;
	clear: right;
}